mixin input(options)
  - inputClass = `input__underline_error_${!!options.error}`
  .input
    label.input__label(for=options.name)=options.name
    br
    input.input__input(type=options.type, name=options.name, placeholder=options.placeholder, id=options.id, required=options.required)
    .input__underline(class=inputClass)