include ../input/input
include ../checkbox/checkbox
include ../button/button

mixin form(options)
  if !options
    - options = {}

  form.form__form.js-form
    h2.form__title=options.title
    .form__input
      +input({ id: `${options.name}__name`, type: 'text', name: 'name', placeholder: 'What is your name:', error: '', required: true, error: 'ff' })
    .form__input
      +input({ id: `${options.name}__number`, type: 'tel', name: 'number', placeholder: 'Your phone number:', error: '', required: true })
    .form__input
      +input({ id: `${options.name}__email`, type: 'email', name: 'email', placeholder: 'Your email:', error: '', required: true })
    .form__agreement
      +checkbox({ id: `${options.name}__privacy-agreement`, name: 'privacy-agreement', required: true, label: 'I agree to the processing of personal data', checked: false, required: true })
    .form__submit-button
      +button({ text: 'submit', type: 'submit', theme: 'filled'})