mixin checkbox(options)
  .checkbox
    label.checkbox__label(for=options.id)
      input.checkbox__checkbox(type='checkbox', name=options.name, checked=options.checked, id=options.id, required=options.required)
      span=options.label
      span.checkbox__checkmark